:root {
	--coffee-color: rgb(177, 116, 87);
	--coffee-color-dark: rgb(124, 77, 54);
	--mint-green: rgb(91, 155, 144);
	--mint-green-dark: rgb(77, 131, 121);
}

body {
	background: var(--coffee-color);
}
